*{
  box-sizing: border-box;
} 

.plugin-form-label-83a1371d7 {
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  display: block;
  position: absolute;
  top: 4px;
  bottom: auto;
  left: 12px;
  right: auto;
}

.plugin-logo-left-83a1371d7 {
  color: #1b2b1c;
  display: flex;
  position: relative;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
}

.plugin-drawer-wrapper-83a1371d7 {
  z-index: 100000;
  width: 25%;
  min-height: 100vh;
  grid-row-gap: 10px;
  background-color: #fbf8ef;
  border: 1px #e6e4d5;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  padding-left: 0;
  padding-right: 0;
  transition: all .3s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: scroll;
  box-shadow: inset 1px 0 #e6e4d5, 0 0 5px 1px rgba(0, 0, 0, .05);
}

.plugin-drawer-wrapper-83a1371d7.collapse {
  display: none;
}

.plugin-expand-collapse-wrapper-83a1371d7 {
  z-index: 200000;
  height: 180px;
  color: #bff103;
  background-color: #fbf8ef;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 25%;
  box-shadow: inset 1px 0 #e6e4d5, inset 0 -1px #e6e4d5, -1px -1px 5px 1px rgba(0, 0, 0, .05);
}

.plugin-expand-collapse-wrapper-83a1371d7:hover {
  background-color: #e6e4d5;
}
.plugin-expand-collapse-wrapper-83a1371d7:focus {
  background-color: #e6e4d5;
} 

.plugin-expand-collapse-wrapper-83a1371d7.collapse {
  right: 0%;
}

.body-2 {
  color: #0a0f0d;
  background-color: rgba(0, 0, 0, 0);
}

.plugin-form-wrapper-83a1371d7 {
  width: 100%;
  flex-direction: column;
  padding: 10px;
  display: flex;
  position: relative;
  top: 180px;
  bottom: 0;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.plugin-form-83a1371d7 {
  flex-direction: column;
  display: flex;
}

h1 {
  margin: 0;
}

.plugin-form-select-dropdown-wrapper-83a1371d7 {
  width: 100%;
  height: 55px;
  flex-direction: column;
  margin-bottom: 0;
  display: flex;
  position: relative;
  border-radius: 5px;
}

.plugin-form-select-dropdown-wrapper-83a1371d7.account-page {
  z-index: 2000;
  margin-bottom: 0;
}

.plugin-form-location-search-wrapper-83a1371d7 {
  flex-direction: column;
  display: flex;
  position: relative;
}

.plugin-form-location-search-wrapper-83a1371d7.account-page {
  position: relative;
}

.plugin-input-field-wrapper-83a1371d7 {
  width: 100%;
  height: 55px;
  flex-direction: column;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.plugin-input-fields-83a1371d7 {
  width: 100%;
  height: 100%;
  color: inherit;
  border: 1px solid #69706d;
  border-radius: 5px;
  margin-bottom: 0;
  font-family: Rubik, sans-serif;
  transition: all .2s;
  position: static;
  vertical-align: middle;
  background-color: #fff;
  padding: 22px 12px 8px 12px;
  font-size: 14px;
  line-height: 1.3em;
  display: block;
}

.plugin-suggestion-dropdown-wrapper-83a1371d7 {
  z-index: 4002;
  grid-row-gap: 10px;
  color: rgba(10, 15, 13, .9);
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e6e4d5;
  border-radius: 5px;
  flex-direction: column;
  padding: 12px;
  font-family: Rubik, sans-serif;
  display: none;
  position: absolute;
  top: 60px;
}

.plugin-suggestion-item-83a1371d7 {
  grid-column-gap: 10px;
  color: #1b2b1c;
  border-radius: 5px;
  align-items: center;
  padding: 4px;
  display: flex;
}

.plugin-suggestion-item-83a1371d7:hover {
  grid-column-gap: 10px;
  background-color: rgba(230, 228, 213, .4);
  align-items: center;
}

.plugin-suggestion-item-83a1371d7:focus-visible {
  background-color: rgba(230, 228, 213, .4);
  font-weight: 700;
}

.plugin-suggestion-item-83a1371d7[data-wf-focus-visible] {
  background-color: rgba(230, 228, 213, .4);
  font-weight: 700;
}

.plugin-select-field-83a1371d7:focus-visible {
  outline-offset: 0px;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-select-field-83a1371d7:hover {
  outline-offset: 0px;
  outline: 1px solid #69706d;
}

.plugin-select-field-83a1371d7[data-wf-focus-visible] {
  outline-offset: 0px;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}


.plugin-text-area-wrapper-83a1371d7 {
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.plugin-select-field-83a1371d7 {
  height: 100%;
  background-color: #fff;
  border-color: #69706d;
  border-radius: 5px;
  font-family: Rubik, sans-serif;
  transition: all .2s;
  color: inherit;
  vertical-align: middle;
  line-height: 1.3em;
  padding: 22px 12px 8px 12px;
  font-size: 14px;
}

.plugin-text-area-wrapper-83a1371d7.signup {
  margin-bottom: 0;
}

.plugin-toggle-text-83a1371d7 {
  color: #1b2b1c;
  align-self: center;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.plugin-toggle-row-83a1371d7 {
  width: 100%;
  justify-content: flex-end;
  grid-column-gap: 10px;
  grid-column: auto;
  align-items: end;
  margin-bottom: 10px;
  display: flex;
}

.plugin-horizontal-line-83a1371d7 {
  width: 80%;
  height: 1px;
  background-color: #e6e4d5;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}

.plugin-text-area-input-83a1371d7 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #69706d;
  border-radius: 5px;
  flex-direction: column;
  margin-bottom: auto;
  padding-top: 22px;
  padding-left: 12px;
  padding-right: 48px;
  padding-bottom: 8px;
  display: flex;
  color: inherit;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.3em;
  overflow: auto;
}

.plugin-display-record-id-83a1371d7 {
  position: absolute;
  bottom: -13px;
}

.plugin-input-fields-83a1371d7:focus-visible {
  outline-offset: 0px;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-input-fields-83a1371d7:hover {
  outline-offset: 0px;
  outline: 1px solid #69706d;
}

.plugin-input-fields-83a1371d7[data-wf-focus-visible] {
  outline-offset: 0px;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-text-area-input-83a1371d7:hover {
  outline-offset: 0px;
  outline: 1px solid #69706d;
}

.plugin-text-area-input-83a1371d7:focus-visible {
  outline-offset: 0px;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-text-area-input-83a1371d7[data-wf-focus-visible] {
  outline-offset: 0px;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-timer-div-wrapper-83a1371d7 {
  height: 40px;
  max-width: 30%;
  border: 1px solid #e6e4d5;
  border-radius: 5px;
  flex: 1;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.plugin-timer-div-83a1371d7 {
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 10%;
}

.plugin-font-awesome-icon-83a1371d7 {
  min-width: 1.1em;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  transition: all .3s;
  display: flex;
}

.plugin-timer-time-83a1371d7 {
  color: #1b2b1c;
  justify-content: center;
  align-items: center;
  display: flex;
}

.plugin-icon-wrapper-83a1371d7 {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2px;
  display: flex;
}

.plugin-error-div-wrapper-83a1371d7 {
  width: 100%;
  display: flex;
  position: relative;
  height: 40px;
  border: 1px solid #e6e4d5;
  border-radius: 5px;
  flex: 1;
  transition: opacity .2s;
}

.plugin-error-div-wrapper-83a1371d7.error {
  color: #ff6201;
  background-color: rgba(255, 98, 1, .2);
  border-color: #ff6201;
}

.plugin-error-div-wrapper-83a1371d7.success {
  color: #5b8c5a;
  background-color: rgba(88, 129, 87, .2);
  border-color: #5b8c5a;
}

.plugin-image-grid-83a1371d7 {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  border-radius: 5px;
}

.plugin-image-and-checkbox-wrapper-83a1371d7 {
  min-height: 120px;
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  position: relative;
}

#plugin-image-template-div-83a1371d7 {
  display: none;
}

.plugin-image-83a1371d7 {
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.plugin-checkbox-wrapper-83a1371d7 {
  grid-column-gap: 10px;
  align-items: center;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  position: relative;
  background-color: #1b2b1c;
  color: #fbf8ef;
  border-radius: 10px;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0;
  z-index: 1;
}

.plugin-custom-checkbox-83a1371d7 {
  width: 12px;
  height: 12px;
  border: 1px solid #69706d;
  border-radius: 50%;
  float: left;
  line-height: normal;
  position: relative; /* To position the input checkbox absolutely within it */
}

.plugin-custom-checkbox-83a1371d7.checked {
  outline-offset: 2px;
  background-color: #1b2b1c;
  border-color: #bff103;
  outline: 2px solid #bff103;
}

.plugin-custom-checkbox-83a1371d7.focus {
  box-shadow: none;
}

.plugin-checkbox-text-83a1371d7 {
  color: #fbf8ef;
  align-self: center;
  margin-bottom: 0;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.plugin-checkboxes-wrapper-83a1371d7 {
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 2%;
  left: 2%;
  right: 40%;
}

.plugin-header-wrapper-83a1371d7 {
  justify-content: space-between;
  display: flex;
  position: relative;
}

.plugin-logo-left-83a1371d7 {
  color: #1b2b1c;
  display: flex;
  position: relative;
  align-self: center;
}

.plugin-username-wrapper-83a1371d7 {
  max-width: 60%;
  grid-column-gap: 5px;
  justify-content: flex-end;
  display: flex;
}

.plugin-username-text-83a1371d7 {
  color: #1b2b1c;
  align-self: center;
  display: flex;
}

.plugin-race-count-83a1371d7 {
  color: #1b2b1c;
  background-color: #bff103;
  border-radius: 20px;
  align-self: center;
  padding: 3px 6px;
  font-size: 10px;
  display: flex;
}

.plugin-button-small-outline-83a1371d7 {
  grid-column-gap: 10px;
  color: #1b2b1c;
  text-align: center;
  cursor: pointer;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #69706d;
  border-radius: 10px;
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  padding: 4px 10px;
  font-family: Rubik, sans-serif;
  font-size: 12px;
  transition: all .2s;
  display: flex;
  position: static;
  top: 6%;
  bottom: 6%;
  left: auto;
  right: 1%;
  line-height: inherit;
  text-decoration: none;
}

.plugin-button-small-outline-83a1371d7:hover {
  background-color: rgba(230, 228, 213, .4);
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
  font-size: 12px;
}

.plugin-button-small-outline-83a1371d7:focus-visible {
  background-color: rgba(230, 228, 213, .4);
  border-color: #1b2b1c;
}

.plugin-button-small-outline-83a1371d7[data-wf-focus-visible] {
  background-color: rgba(230, 228, 213, .4);
  border-color: #1b2b1c;
}

.plugin-refresh-images-wrapper-83a1371d7 {
  display: flex;
}

.plugin-button-create-wrapper-83a1371d7 {
  padding: 20px 10px;
  position: relative;
  top: 180px;
}

.plugin-button-primary-83a1371d7 {
  color: #1b2b1c;
  text-align: center;
  cursor: pointer;
  background-color: #bff103;
  border-radius: 5px;
  justify-content: center;
  align-self: auto;
  transition: all .3s;
  display: flex;
  line-height: inherit;
  border: 0;
  padding: 9px 15px;
  text-decoration: none;
}

.plugin-top-wrapper-83a1371d7 {
  z-index: 200000;
  height: 180px;
  grid-row-gap: 10px;
  background-color: #fbf8ef;
  flex-direction: column;
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 75%;
  right: 0%;
  overflow: hidden;
  box-shadow: inset 0 1px #e6e4d5, inset 1px 0 #e6e4d5, 0 0 4px rgba(0, 0, 0, .1);
}

.plugin-select-form-form-wrapper-83a1371d7 {
  display: flex;
}

.plugin-select-form-form-83a1371d7 {
  width: 100%;
  display: flex;
}
.hidden {
  display: none;
}

.plugin-highlight-button-83a1371d7 {
  width: 30px;
  height: 30px;
  color: #69706d;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #69706d;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 14px;
  bottom: auto;
  left: auto;
  right: 12px;
}

.plugin-highlight-button-83a1371d7:hover {
  color: #1b2b1c;
  background-color: rgba(230, 228, 213, .4);
}

.plugin-highlight-button-83a1371d7:focus-visible {
  outline-offset: 1px;
  color: #1b2b1c;
  background-color: #e6e4d5;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-highlight-button-83a1371d7[data-wf-focus-visible] {
  outline-offset: 1px;
  color: #1b2b1c;
  background-color: #e6e4d5;
  border-color: #1b2b1c;
  outline: 1px solid #1b2b1c;
}

.plugin-treccy-popup-83a1371d7 {
  max-height: 220px;
  max-width: 450px;
  min-height: 130px;
  min-width: 350px;
  background-color: #fbf8ef;
  flex-direction: column;
  padding: 20px;
  display: flex;
}

.plugin-treccy-popup-text-83a1371d7 {
  position: relative;
  display: flex;
  font-weight: 400;
  width:100%;
  font-size: 16px;
}

.popup-toggle-dot-83a1371d7 {
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 3px;
  transition: left .2s;
  position: absolute;
  left: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.popup-toggle-dot-83a1371d7.w--redirected-checked {
  background-color: #fff;
  background-image: none;
  left: 39px;
}

.popup-toggle-checkbox-83a1371d7 {
  display: none;
}

.popup-toggle-wrap-83a1371d7 {
  position: relative;
  width: 40px;
  height: 24px;
}

.popup-toggle-row-83a1371d7 {
  justify-content: right;
  height: 24px;
  align-items: flex-start;
  margin-bottom: 0;
  display: flex;
  width: 100%;
}

.popup-toggle-bg-83a1371d7 {
  z-index: 0;
  width: 40px;
  background-color: #e2e2e2;
  border-radius: 100px;
  transition: background-color .2s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-toggle-label-83a1371d7 {
  z-index: 2;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 65px;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

@media screen and (min-width: 1920px) {

}

@media screen and (max-width: 991px) {
  .plugin-drawer-wrapper-83a1371d7 {
    width: 100%;
    height: 100vh;
    padding: 0;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .plugin-form-location-search-wrapper-83a1371d7 {
    width: 100%;
    margin-bottom: 100px;
  }

  .plugin-form-location-search-wrapper-83a1371d7.account-page {
    margin-bottom: 0;
  }

  .plugin-button-small-outline-83a1371d7 {
    padding: 8px 12px;
  }
}

#w-node-_5e4b8469-c38d-193d-ef8e-7c04c3ceb5ac-c3ceb5a5 {
  align-self: center;
  justify-self: stretch;
}

#w-node-_7b07c176-a66d-1d76-35d4-3e41e1c8fca7-6394a402 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_7b07c176-a66d-1d76-35d4-3e41e1c8fca8-6394a402, #w-node-_7b07c176-a66d-1d76-35d4-3e41e1c8fca9-6394a402 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_00dfe0e2-4ff4-3b0c-7548-750e56d82745-6394a402 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_00dfe0e2-4ff4-3b0c-7548-750e56d82746-6394a402, #w-node-_00dfe0e2-4ff4-3b0c-7548-750e56d8274c-6394a402, #w-node-_00dfe0e2-4ff4-3b0c-7548-750e56d82752-6394a402 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ff533269-e667-52cc-3643-201cf1ebc782-6394a402 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-ff533269-e667-52cc-3643-201cf1ebc783-6394a402, #w-node-ff533269-e667-52cc-3643-201cf1ebc788-6394a402, #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e408e-e99e408c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_268d63a6-e7f0-a011-85fb-0d5de99e40a1-e99e408c {
  grid-area: Area-4;
}

#w-node-_50fcb185-1810-7e13-c075-0297e71ebe0b-e99e408c {
  grid-area: Area-3;
}

#w-node-_89c5886c-be2e-968c-8f3c-5f807f747f20-e99e408c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d97fa8a-0b7c-1ac7-0a75-cc47cc72d14a-e99e408c {
  grid-area: Area-2;
}

#w-node-_76ea6d03-2418-232e-5c81-5babad67f0cf-e99e408c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_268d63a6-e7f0-a011-85fb-0d5de99e40a8-e99e408c {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

#w-node-_6027f340-b6d3-372e-510f-f9991e3d868c-6394a40a {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_1060aadd-d5a6-98be-d8e9-12357fc02ae9-6394a40a, #w-node-_0ee103d2-ef2c-3541-f7df-b92845db50af-6394a40a, #w-node-_15fcdc2b-1e4c-821a-9a28-4fcb1ee227ce-6394a40a {
  align-self: end;
}

#w-node-caa60619-c447-3cc3-26da-9cbb5a06830a-6394a40a {
  grid-area: 4 / 1 / 5 / 3;
}

#w-node-e62e8c79-bcc0-db16-e1a1-9c249a2cc32a-6394a40a {
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-e47950b6-004a-74af-a31e-c6c0376e1fd7-6394a40a {
  grid-column: span 3 / span 3;
}

#w-node-_0e362f31-f3a5-fbf8-618f-c19e51e7f54b-6394a40a {
  grid-column: span 2 / span 2;
}

#w-node-_959361c2-6d3f-e4ae-7d8d-0ff45b4db4b6-6394a40a, #w-node-_068b1e4b-ce87-75aa-f3c8-4e50eb5b7bd4-6394a40a {
  grid-column: span 3 / span 3;
}

#w-node-_0ef35152-9e1c-8e2e-a3bb-683cc1249223-6394a40a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e81e4296-ff67-823b-a8e4-ea8555e99c8d-6394a40a, #race-calendar-row.w-node-_322aa222-4d98-7ea4-9fa0-a72f0b959b81-6394a40a {
  grid-column: span 3 / span 3;
}

#w-node-_50ac80b7-70f0-87b0-56f2-abf674c22288-582b052f, #w-node-bf0d63ad-b15c-c3e6-8c17-341f7327faae-582b052f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
}

@media screen and (max-width: 767px) {
  #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e408e-e99e408c {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e40a1-e99e408c {
    grid-area: 3 / 1 / 4 / 3;
  }

  #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e40a8-e99e408c {
    grid-row: 4 / 5;
    grid-column-start: 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_79f56044-ded2-d48f-ac95-361e09938ccf-6394a3e8 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_2b8a57e4-ac20-43b6-8780-3bc702e2e070-6394a3e8 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_29701275-7872-b8ad-7b03-90e859193b87-6394a3e8 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_5e4b8469-c38d-193d-ef8e-7c04c3ceb5a7-c3ceb5a5 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #global-race-search.w-node-_5e4b8469-c38d-193d-ef8e-7c04c3ceb5aa-c3ceb5a5 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_80297927-a2be-dd61-1262-315774b509fa-c3ceb5a5 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
  }

  #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e408e-e99e408c {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e40a1-e99e408c {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_268d63a6-e7f0-a011-85fb-0d5de99e40a8-e99e408c {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-ac44ea22-90f3-db61-3248-43de365cbfd6-6394a407 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-ac44ea22-90f3-db61-3248-43de365cbfe4-6394a407 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_6027f340-b6d3-372e-510f-f9991e3d868c-6394a40a {
    grid-row: 2 / 3;
    grid-column-end: 2;
  }

  #w-node-_1060aadd-d5a6-98be-d8e9-12357fc02ae9-6394a40a {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_0ee103d2-ef2c-3541-f7df-b92845db50af-6394a40a {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-ce348a89-35dc-5056-d0f7-9abd7a9ba275-6394a40a {
    order: 9999;
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_15fcdc2b-1e4c-821a-9a28-4fcb1ee227ce-6394a40a {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-caa60619-c447-3cc3-26da-9cbb5a06830a-6394a40a {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-e62e8c79-bcc0-db16-e1a1-9c249a2cc32a-6394a40a {
    grid-area: 2 / 1 / 3 / 2;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  #w-node-_0e362f31-f3a5-fbf8-618f-c19e51e7f54b-6394a40a, #w-node-_63dc3173-dfca-50df-eca3-3e6fa40ef72e-6394a40a {
    grid-column: span 3 / span 3;
  }

  #w-node-_6fb9368d-200c-74a2-d5cc-eda48e0373ee-6394a40b {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_6fb9368d-200c-74a2-d5cc-eda48e0373fc-6394a40b {
    grid-area: 2 / 1 / 3 / 2;
  }

  .plugin-popup-body-83a1371d7 {
    background-color: transparent;
  }

  .popup-toggle-checkbox-83a1371d7:checked ~ .popup-toggle-bg-83a1371d7 {
    background-color: #BFF103;
  }
  .popup-toggle-checkbox-83a1371d7:checked ~ .popup-toggle-dot-83a1371d7 {
      left: 19px;
  }
  .expand-collapse-wrapper-83a1371d7:hover {
    background-color: #e6e4d5;
  }
  .expand-collapse-wrapper-83a1371d7:focus {
    background-color: #e6e4d5;
  }
}
